logs/
# Ignore logs
*.log

# Ignore Python cache
__pycache__/
*.pyc

# Ignore ML models (optional but recommended)
*.joblib

# Ignore local test scripts (run locally, don't commit)
**/test_*.py

# Ignore weird system files
nul